---
Checks: 'bugprone-*,performance-*'
HeaderFilterRegex: '^(?!.*\/_deps\/).*' # not including /_deps/
#HeaderFilterRegex: '.*'
# all warning is error
#WarningsAsErrors: '*' 
#WarningsAsErrors: 'bugprone-*'
